---
import BaseHead from '../../components/BaseHead.astro'
import Header from '../../components/Header.astro'
import Footer from '../../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts'
import { getCollection } from 'astro:content'
import FormattedDate from '../../components/FormattedDate.astro'
import PageTitle from '../../components/PageTitle.astro'

const posts = (await getCollection('blog')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)

const PAGE_TITLE = `Articles - ${SITE_TITLE}`
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead
            title={PAGE_TITLE}
            description={SITE_DESCRIPTION}
            image="logo/stvanlogo_l-blue_d-blue.png"
        />
    </head>
    <body>
        <Header />
        <main class="m-auto max-w-5xl">
            <section class="mt-12">
                <ul
                    class="flex justify-center flex-wrap gap-8 list-none m-0 p-1 px-6 md:px-1"
                >
                    {
                        posts.map((post) => (
                            <li class="md:w-[calc(50%-1rem)] md:first:w-full md:first:mb-4 mb-4 text-center">
                                <a
                                    href={`/blog/${post.slug}/`}
                                    class="block no-underline transition-all duration-200 hover:text-accent"
                                >
                                    {/* <img
                                        src={post.data.heroImage}
                                        alt={post.data.title}
                                        class="mb-2 rounded-lg object-cover md:h-[360px] md:max-h-[360px] h-[280px] max-h-[280px] first:w-full"
                                    /> */}
                                    <img
                                        src={post.data.heroImage}
                                        alt={post.data.title}
                                        class="mb-2 rounded-lg object-cover h-64 md:h-72 lg:h-80 first:w-full"
                                    />
                                    <h3 class="font-synthese font-semibold mt-6 mb-2 m-0 text-2xl text-vp-black leading-none">
                                        {post.data.title}
                                    </h3>
                                    <p class="font-freight text-base py-1 text-vp-black">
                                        <FormattedDate
                                            date={post.data.pubDate}
                                        />
                                        {' by '}
                                        {post.data.author}
                                    </p>
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </section>
        </main>
        <Footer />
    </body>
</html>
