---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import ContentWithBackground from '../components/ContentWithBackground.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import BlogPostPreviewList from '../components/BlogPostsPreviewList.astro';
import BrevoSubscribeStyles from '../components/BrevoSubscribeStyles.astro';
import BrevoScripts from '../components/BrevoScripts.astro';
import SvgButtonLink from '../components/SvgButtonLink.astro';
import SubscribeButton from '../components/SubscribeButton.astro';

const INDEX_PAGE_BLOG_POSTS_LIMIT = 6;
const MAX_TITLE_LENGTH = 45;
const PAGE_TITLE = `${SITE_TITLE}`;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
    <head>
        <BaseHead
            title={PAGE_TITLE}
            description={SITE_DESCRIPTION}
            image="logo/stvanlogo_l-blue_d-blue.png"
        />
        <BrevoSubscribeStyles />
    </head>
    <body>
        <main>
            <ContentWithBackground background="">
                <section
                    class="m-auto max-w-7xl grid grid-cols-1 md:grid-cols-2 gap-6 px-8 py-6 md:pt-14 xl:px-0"
                >
                    <div class="content-center">
                        <div class="mb-8 md:mb-8">
                            <img
                                class="mx-auto md:mx-0"
                                src={'/logo/vanpop-simple-pink.png'}
                                alt={SITE_TITLE}
                                width={225}
                                height={380}
                            />
                        </div>
                        <p class="font-mixta text-base py-3 md:py-6 md:text-lg">
                            Welcome to VanPOP. Here, you'll find
                            thought-provoking articles, information about
                            upcoming events, and resources to aid in
                            understanding and implementing our mission. We're
                            glad you're here and can't wait for you to join us
                            on this journey. Keep up with our local actions,
                            news, and events for a resilient Vancouver!
                        </p>
                        <div class="flex flex-wrap gap-4 items-center mt-3.5">
                            <SubscribeButton />
                            <SvgButtonLink
                                text="Discord"
                                href="https://discord.com/invite/RXabm7CS46"
                                target="_blank"
                                hoverColor="vp-purple"
                            >
                                <svg
                                    class="w-5 h-5"
                                    viewBox="0 -50 256 256"
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    preserveAspectRatio="xMidYMid"
                                    fill="currentColor"
                                    stroke="#000000"
                                    ><g id="SVGRepo_bgCarrier" stroke-width="0"
                                    ></g><g
                                        id="SVGRepo_tracerCarrier"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"></g><g
                                        id="SVGRepo_iconCarrier"
                                    >
                                        <g>
                                            <path
                                                d="M216.856339,16.5966031 C200.285002,8.84328665 182.566144,3.2084988 164.041564,0 C161.766523,4.11318106 159.108624,9.64549908 157.276099,14.0464379 C137.583995,11.0849896 118.072967,11.0849896 98.7430163,14.0464379 C96.9108417,9.64549908 94.1925838,4.11318106 91.8971895,0 C73.3526068,3.2084988 55.6133949,8.86399117 39.0420583,16.6376612 C5.61752293,67.146514 -3.4433191,116.400813 1.08711069,164.955721 C23.2560196,181.510915 44.7403634,191.567697 65.8621325,198.148576 C71.0772151,190.971126 75.7283628,183.341335 79.7352139,175.300261 C72.104019,172.400575 64.7949724,168.822202 57.8887866,164.667963 C59.7209612,163.310589 61.5131304,161.891452 63.2445898,160.431257 C105.36741,180.133187 151.134928,180.133187 192.754523,160.431257 C194.506336,161.891452 196.298154,163.310589 198.110326,164.667963 C191.183787,168.842556 183.854737,172.420929 176.223542,175.320965 C180.230393,183.341335 184.861538,190.991831 190.096624,198.16893 C211.238746,191.588051 232.743023,181.531619 254.911949,164.955721 C260.227747,108.668201 245.831087,59.8662432 216.856339,16.5966031 Z M85.4738752,135.09489 C72.8290281,135.09489 62.4592217,123.290155 62.4592217,108.914901 C62.4592217,94.5396472 72.607595,82.7145587 85.4738752,82.7145587 C98.3405064,82.7145587 108.709962,94.5189427 108.488529,108.914901 C108.508531,123.290155 98.3405064,135.09489 85.4738752,135.09489 Z M170.525237,135.09489 C157.88039,135.09489 147.510584,123.290155 147.510584,108.914901 C147.510584,94.5396472 157.658606,82.7145587 170.525237,82.7145587 C183.391518,82.7145587 193.761324,94.5189427 193.539891,108.914901 C193.539891,123.290155 183.391518,135.09489 170.525237,135.09489 Z"
                                                fill-rule="nonzero"
                                            >
                                            </path>
                                        </g>
                                    </g></svg
                                >
                            </SvgButtonLink>
                            <SvgButtonLink
                                text="Events"
                                href="#get-involved"
                                hoverColor="vp-purple"
                                ><svg
                                    class="w-5 h-5"
                                    viewBox="0 -2 24 24"
                                    fill="currentColor"
                                >
                                    <path
                                        d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z"
                                    ></path>
                                </svg>
                            </SvgButtonLink>
                        </div>
                    </div>
                    <div class="flex items-end">
                        <img
                            class="h-auto max-w-full scale-95"
                            src="/skyline_perspective.svg"
                        />
                    </div>
                </section>
            </ContentWithBackground>
            <BlogPostPreviewList
                postsLimit={INDEX_PAGE_BLOG_POSTS_LIMIT}
                maxTitleLength={MAX_TITLE_LENGTH}
            />
            <ContentWithBackground background="/bus-on-41st.jpg">
                <section
                    class="m-auto max-w-7xl py-12 px-8 md:flex md:flex-col md:items-center md:mx-auto xl:px-0"
                >
                    <div
                        class="max-w-7xl text-white grid grid-cols-1 md:grid-cols-4"
                    >
                        <h2
                            class="font-mixta font-bold m-0 text-4xl md:mx-8 mb-6"
                        >
                            About us
                        </h2>
                        <div
                            class="m-auto font-freight text-lg md:mx-0 md:col-start-2 md:col-span-3 md:text-base"
                        >
                            <p class="mb-4">
                                VanPOP is a part of a global Strong Towns
                                movement that has set its sights on transforming
                                the way we envision and build our communities.
                                The movement is rooted in a deep-seated passion
                                for urban development and public policy, with a
                                mission to foster sustainability, resilience,
                                and vibrancy in communities across the globe. We
                                exist to challenge conventional thinking,
                                pushing boundaries and provoking fresh
                                perspectives on urban development. Our goal is
                                not just to inspire a new generation of
                                urbanists, but to empower them to take action
                                and drive change in their own communities.
                            </p>
                            <p class="mb-4">
                                Established in late 2023, Strong Towns Vancouver
                                is a piece of this dynamic global movement. We
                                are more than just a local chapter – we are a
                                local conversation! A collective of individuals
                                from all sorts of personal and professional
                                backgrounds dedicated to fostering a stronger
                                and more resilient Vancouver. Our focus is on
                                promoting models of development that will
                                sustain and strengthen our city in the long
                                term.
                            </p>
                            <p class="mb-4">
                                We understand that building a stronger city goes
                                beyond the physical infrastructure. It means
                                cultivating a culture of thought-provoking
                                conversations and engaging events that bring
                                people together. It means providing valuable
                                resources to help our community understand and
                                implement our mission. But most importantly, it
                                means driving action, no matter how small.
                            </p>
                            <p class="mb-4">
                                We believe that each one of us has a role to
                                play in making Vancouver stronger and more
                                vibrant. Whether it's participating in a local
                                event, contributing to a discussion, or simply
                                spreading the word about our mission, every
                                action counts. We invite you to join us on this
                                transformative journey. Embrace the opportunity
                                to be a part of a global change. Let's work to
                                create a stronger, more resilient Vancouver,
                                together!
                            </p>
                        </div>
                    </div>
                </section>
            </ContentWithBackground>
            <section
                id="get-involved"
                class="m-auto max-w-7xl py-12 px-8 md:flex md:flex-col md:items-center md:mx-auto xl:px-0"
            >
                <div
                    class="max-w-7xl text-st-black grid grid-cols-1 md:grid-cols-4"
                >
                    <h2
                        class="font-mixta font-bold m-0 text-4xl md:mx-8 mb-6 md:col-start-1 md:col-span-1"
                    >
                        Get involved
                    </h2>
                    <div
                        class="m-auto font-freight text-lg md:mx-0 md:text-base md:col-start-2 md:col-span-3"
                    >
                        <p class="mb-4">
                            This is only the start! Our ambitious community
                            encompasses individuals of all ages, professions,
                            and backgrounds, united by our passion for
                            walkability, accessibility, housing, and transit.
                            Prepare yourself for engaging and fun community
                            advocacy opportunities to help enhance Vancouver for
                            everyone. Your voice, ideas, and skills enrich our
                            community as we implement our shared vision. Let's
                            work together to reshape Vancouver, together!
                        </p>
                        <h3 class="font-mixta font-semibold text-2xl mb-4">
                            Our Events
                        </h3>
                        <iframe
                            src="https://embed.styledcalendar.com/#itqSaKdVwkGqwxlBNgyB"
                            title="Styled Calendar"
                            class="styled-calendar-container"
                            style="width: 100%; border: 1px solid; margin: 0;"
                            data-cy="calendar-embed-iframe"></iframe>
                        <script
                            async
                            is:inline
                            type="module"
                            src="https://embed.styledcalendar.com/assets/parent-window.js"
                        ></script>
                    </div>
                </div>
            </section>
        </main>

        <Footer />
        <BrevoScripts />
    </body>
</html>
