---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import FormattedDate from '../components/FormattedDate.astro'
import { SITE_TITLE } from '../consts'

type Props = CollectionEntry<'blog'>['data']

const { title, description, pubDate, updatedDate, heroImage, author } =
    Astro.props

const pageTitle = `${title} - ${SITE_TITLE}`
---

<html lang="en">
    <head>
        <BaseHead
            title={pageTitle}
            description={description}
            image={heroImage}
        />
        <style is:global>
            @reference "../styles/global.css";

            main * ul,
            main * ol {
                list-style: revert;
                margin: revert;
                padding: revert;
                @apply text-lg leading-7;
            }

            main {
                @apply text-base md:text-lg md:leading-7;
            }

            main * a {
                @apply underline hover:text-blue-600;
            }

            main * p {
                @apply text-lg leading-7;
            }

            main * h2 {
                @apply md:text-4xl text-2xl font-semibold;
            }

            main * h3 {
                @apply md:text-3xl text-xl text-vp-callout-text font-semibold;
            }
        </style>
    </head>

    <body>
        <Header />
        <main class="max-w-5xl m-0 mx-auto px-8 md:px-0">
            <article class="mb-10">
                <div class="w-full">
                    {
                        heroImage && (
                            <img
                                class="block m-0 mx-auto rounded-xl shadow-md w-full max-w-2xl"
                                src={heroImage}
                                alt={title}
                            />
                        )
                    }
                </div>
                <div class="w-full max-w-[calc(100% - 2em)] m-auto p-4">
                    <div class="py-4 px-0 text-center md:text-lg text-sm">
                        <h2
                            class="font-synthese font-bold my-0 md:text-4xl text-3xl"
                        >
                            {title}
                        </h2>
                        <div class="font-freight text-base md:text-lg">
                            <div class="inline-block md:mb-2">
                                Posted on
                                <FormattedDate date={pubDate} />
                            </div>
                            <span class="inline-block md:mb-2">by {author}</span
                            >
                            {
                                updatedDate && (
                                    <>
                                        <span class="hidden md:mb-2 md:inline-block">
                                            |
                                        </span>
                                        <div class="inline-block md:mb-2">
                                            Last updated on
                                            <FormattedDate date={updatedDate} />
                                        </div>
                                    </>
                                )
                            }
                        </div>
                        {
                            description && (
                                <div class="font-synthese mt-2 md:mt-0 md:mb-2 text-base md:text-lg">
                                    {description}
                                </div>
                            )
                        }
                    </div>
                    <div class="font-freight text-base mt-8">
                        <slot />
                    </div>
                </div>
            </article>
        </main>
        <Footer />
    </body>
</html>
